@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Almendra-Regular.otf');
}

/*Body and container properties*/

.container { 
    background-image: url("../images/back_map.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body { 
    background-color:#ebe186;
}

/*Header*/

header {
    margin-top: 50px;
    background-color:whitesmoke;
    border: 2px solid rgb(187, 123, 4);
    border-radius: 6px;
    line-height: 40px;
}

/*Main content*/

.chat-area {
    background-color:whitesmoke;
    border: 2px solid rgb(187, 123, 4);
    border-radius: 6px;
    line-height: 40px;
    padding: 2em;
}

.message-area { 
    background:whitesmoke;
}
.frame {                     /*Chatbox background*/
    background:#ebe186;
    height: 250px;
    overflow:auto;
    padding: 0;
    border-radius: 6px;
}

.user-question {         /*Chat messages */
    box-shadow: 2px 2px 0px 0px rgba(73, 41, 0, 0.3); 
    border-radius: 6px;
    background-color: whitesmoke;
    margin: 1em;
    text-align: left;
    padding-left: 1em;
}

.adress-answer, .wiki-answer {       /*Chat messages */
    box-shadow: 2px 2px 0px 0px rgba(73, 41, 0, 0.3); 
    border-radius: 6px;
    background-color: whitesmoke;
    margin: 1em;
    text-align: right;
    padding-right: 1em;
}

.map-answer {       /*Chat messages */
    box-shadow: 2px 2px 0px 0px rgba(73, 41, 0, 0.3); 
    border-radius: 6px;
    background-color: whitesmoke;
    margin: 1em;
    text-align: right;
    padding-right: 1em;
    height: 400px;
}

h1, h3, label {     /*Only one font needed*/
    font-family: 'MyFont', 'Arial', 'Verdana', 'sans-serif';
}

footer{     /*Footer presets*/
    background-color:whitesmoke;
    border: 2px solid rgb(187, 123, 4);
    border-radius: 6px;
    line-height: 40px; 
}

p {     /*As the footer paragraphs*/
    font-family: 'MyFont', 'Arial', 'Verdana', 'sans-serif';
    text-align: center;
}

#logoGrandPy {
    width: 150px;
    height: 150px;
}

#logolinkedin, #logogithub, #logo-oc {
    width: 30px;
    height: 30px;
} 

.text{
    width:100%;
    display:flex;
}

.user-input{        /*About the input area for the user*/
    width:100%;
    display:flex;
    flex-direction:column;
}
