  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.APP_NAME }}</title>
        <!-- include bootstrap library -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <header>
                <section class="row">
                    <aside class="col-md-2">
                        <img id='logoGrandPy' src="{{ url_for('static', filename='images/grandpy_logo.png') }}" alt="Logo de GrandPy" />
                    </aside>
                    <div class="col-md-10">
                        <h1 class="col-md-5">{{ config.APP_NAME }}</h1>
                        <h3 class="col-md-12">{{ config.APP_CATCHLINE }}</h3>
                    </div>
                </section>
            </header><br>
        
            <section class='chat-area'>
                <div class="row">       
                    <div class="col-md-12 frame">
                        <ul></ul>
                    </div>
                <div class="message-area">
                    <div class="col-md-12">                        
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Posez votre question à GrandPy !</label>
                            <input type="email" class="form-control" id="user-input" placeholder="{{ config.TEXT_AREA }}"></div>
                    </div>
                    <div class="col-md-12">
                    <button type="button" class="btn btn-info">Envoyer à GrandPy</button></div>                                                     
                </div>
            </section><br>

            <footer>
                <section class="=row">
                    <div class="col-md-4">
                        <p><strong>Auteur</strong> : {{ config.APP_AUTHOR }}
                        <a href="{{ config.APP_LINKEDIN_LINK }}"><img id ='logolinkedin' src="{{ url_for('static', filename='images/linkedin_logo.png') }}" /></a></p>
                    </div>
                    <div class="col-md-4">
                        <p>Le code cette application est disponible sur
                        <a href="{{ config.APP_REPO_LINK }}"><img id ='logogithub' src="{{ url_for('static', filename='images/github_logo.png') }}" /></a></p>
                    </div>
                    <div class="col-md-4">
                        <p>Application développée dans le cadre d'un projet d'étude OpenClassrooms
                        <a href="{{ config.APP_PARTNER_LINK }}"><img id='logo-oc' src="{{ url_for('static', filename='images/oc_logo.jpg') }}" /></a></p>
                    </div>
                </section>
                <section class="=row">
                    <div class="col-md-12">
                        <p>2020 Copyright <a href="{{ config.APP_GPL_LINK }}">license GPL</a> </p></div>
                </section>
            </footer>
        </div>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>