<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.APP_NAME }}</title>
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">
        <style type="text/css">
            img { width: 15%; }
            body { margin-top: 10px; background-color:#ebe186;}
        </style>
    </head>

    <body>
        <div class="container">
            <header class="page-header">
                <div class="header-logo">
                    <img src="{{ url_for('static', filename='images/grandpy_logo.png') }}" />
                </div>
                <h1 class="main-title">{{ config.APP_NAME }}</h1>
                <p class="main-title">{{ config.APP_CATCHLINE }}</p>
            </header>

            <form>
            <div class="form-group">
                <label for="message-area-title">Allez, GrandPy vous écoute !</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="{{ config.TEXT_AREA }}">
                <button type="button" class="btn btn-info">Envoyer</button>
              </div>
            </form>

            <footer class="page-footer">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='images/oc_logo.jpg') }}" />
                    <img src="{{ url_for('static', filename='images/github_logo.png') }}" />
                </div>
                <p><strong>Auteur</strong> : {{ config.APP_AUTHOR }}</p>
                <p>Le code cette application est disponible sur <a href="{{ config.APP_AUTHOR }}">Github</a></p>
                <p>Application sous <a href="{{ config.APP_GPL_LINK }}">license GPL</a></p>
            </footer>
        </div>
    <script src="static/js/jquery.js"></script>
    </body>
</html>